<div class="shadow_rbg">
	<div class="shadow_cont person_card">
		<table>
			<tr>
				<th><img src="/images/people/no_photo.jpg" alt="" /></th>
				<td>
					<p class="name-color"><strong>Фамилия</strong> Имя Отчество</p>
					<p>
						Другая информация
					</p>
				</td>
			</tr>
		</table>		
	</div>	
	<div class="shadow_tr" style="-moz-user-select: none;-webkit-user-select: none;">&nbsp;</div>
	<div class="shadow_b" style="-moz-user-select: none;-webkit-user-select: none;"><div class="shadow_br">&nbsp;</div><div class="shadow_bl">&nbsp;</div></div>
</div>
<p>&nbsp;</p>