<table class="person_card_new">
	<tr>
		<th><img src="/images/people/no_photo.jpg" alt="" /></th>
		<td>
			<p class="name-color"><strong>Фамилия</strong> Имя Отчество</p>
			<p>
				Должность, звание.						
			</p>
			<p>
				Телефон: (383) 267-00-00.
			</p>
			<p>
				E-mail: <a href="mailto:info@nsau.edu.ru">info@nsau.edu.ru</a>
			</p>
			<!--[if IE ]><div class="shadow_br">&nbsp;</div><![endif]-->
			<!--[if lte IE 7]><div class="shadow_tr">&nbsp;</div><![endif]-->
		</td>
	</tr>
</table>
<p>&nbsp;</p>