/*Youjoomla Default*/

@import url("layout.css"); /*layout css file*/

/* JOOMLA! STYLING
--------------------------------------------------------- */

body{}

#logo{
background: url(../images/biotech/logo_green_bitf.gif) no-repeat 10px 0;
}
* {
margin:0;
padding:0;
}
a:focus {
outline:0px;
}
focus {
outline:0px;
}
h1,h2,h3,h4,h5,h6,p,blockquote,form,label,ul,ol,dl,fieldset,address{
margin:0.5em 0;
}
ul{
margin-left:2em;
list-style: none;
}
fieldset{
padding:.5em;
}
a:link, a:visited {
	color: #627F08;
	text-decoration: none;
}
a:hover {
color:#f51c1c;
	text-decoration: underline;
}

h1,.componentheading{
font-size:1.7em;
line-height:1.7em;
color: #627F08;
}
h2,.contentheading{
font-size:2.5em;
line-height:1.5em;
color: #627F08;
}

h3{
font-size:1.3em;
line-height:1.3em;
color: #627F08;
}
h4{
font-size:1.2em;
line-height:1.2em;
color: #627F08;
}
h5{
font-size:1.1em;
line-height:1.1em;
color: #627F08;
}
h6{
font-size:1em;
line-height:1em;
font-weight:bold;
color: #627F08;

}

li.last_li {
	display: none !important;
}
.contentheading{
color: #627F08;
font:normal 14px "Times New Roman", Times, serif;
border-bottom:1px solid #EEEEEE;
text-transform: uppercase;
}
.contentheading a:link, .contentheading a:visited {
color: #627F08;
font: bold normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.contentheading a:hover {
	text-decoration: underline;
}
.contentpaneopen{
	width: 95%;
	text-align: left;
}
 .article_seperator {
display: block;
margin-top: 15px;
height: 25px;
clear: both;
}
ul {
	margin: 0px;
	margin-left: 15px;
	padding: 0px;
}
ul a:link, ul a:visited{
	color: #627F08;
}
ul a:hover{
	text-decoration: underline;
}
.latestnews ul {
	margin: 0px;
	margin-left: 15px;
	padding: 0px;
}
.latestnews li a:link, .latestnews li a:visited{
	color: #838383;
}
.latestnews li a:hover{
	text-decoration: underline;
}
.mostread ul{
	margin: 0px;
	margin-left: 15px;
	padding: 0px;
}
.mostread li a:link, .mostread li a:visited{
	color: #838383;
}
.mostread li a:hover{
	text-decoration: underline;
}
.modifydate{
font-family: Tahoma, Verdana, "Lucida Sans";
font-size: 10px;
color: #CFCFCF;
padding-top: 15px;
padding-bottom: 15px;

}
.small{
	font-family: Tahoma, Verdana, "Lucida Sans";
	font-size: 10px;
	color: #CFCFCF;
}
.createby{
	font-family: Tahoma, Verdana, "Lucida Sans";
	font-size: 10px;
	color: #fff;
}
.smalldark{
	font-family: Tahoma, Verdana, "Lucida Sans";
	font-size: 10px;
	color: #838383;
}
.createdate{
height:35px;
margin-bottom:13px;
font-family: Tahoma, Verdana, "Lucida Sans";
font-size: 10px;
color: #CFCFCF;
}

a.readon:link, a.readon:visited {
display: block;
float: left;
font-size: 10px;
height: 26px;
line-height: normal;
line-height: 26px;
text-decoration: none;
text-indent: 10px;
color:#627F08;
width: 116px;
background: url(../images/biotech/readon.gif) no-repeat left bottom;
}
a.readon:hover {
text-decoration: underline;
}
td.buttonheading {
	width: 32px;
}
.mosimage_caption{
	font-family: Tahoma, Verdana, "Lucida Sans";
	font-size: 10px;
	color: #838383;
}
.sectiontableheader {
	color : #627F08;
	font-weight : bold;
	padding-bottom: 10px;
}
.sectiontableentry2 {
	background-color : #ECECEC;
}
.inputbox {
background: #FFFFFF;
border: 1px solid #CCCCCC;
}
.inputbox:hover, .inputbox:focus {
background: #F5F5F4;
border: 1px solid #dcdcdc;
}
img a,img {
border:0;
float:left;
margin:10px;
}
.button {

}
.mbot{
	padding-bottom: 30px;
}
.componentheading{
font:normal 16px "Times New Roman", Times, serif;
color: #627F08;
text-align: left;
}
table.pollstableborder {
border: none;
padding: 0;
width: 100%;
text-align: left;
}
table.pollstableborder img {
vertical-align: baseline;
}
table.pollstableborder td {
padding: 2px !important;
}
table.pollstableborder tr.sectiontableentry1 td {
border: none;
background: #e3e3e3;
}
table.pollstableborder tr.sectiontableentry2 td {
border: none;
}
.sectiontableheader {
line-height: 29px;
padding: 0 10px;
}
tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry1, td.sectiontableentry2 {
height: 20px;
padding: 0 10px;
line-height: 29px;
}
tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry1, td.sectiontableentry2 {
border-bottom: 1px solid #CFCFCF;
}
tr.sectiontableentry1 td, td.sectiontableentry1 {
background-color: #EFEFEF;
color:#999999;
}
tr.sectiontableentry2 td, td.sectiontableentry2 {
background-color: #f6f5f5;
color:#999999;
}
tr.sectiontableentry1:hover td, tr.sectiontableentry2:hover td {
background-color: #e3e1e1;
color:#999999;
}
table.pollstableborder td.sectiontableentry1,
table.pollstableborder td.sectiontableentry2, 
table.pollstableborder tr.sectiontableentry1 td,
table.pollstableborder tr.sectiontableentry2 td{
height: 20px;
padding-left: 5px;
text-align:left;
padding-right: 10px;
line-height: 18px;
margin-bottom:5px;
background: none;
border:none;
}
.pagenav,
.pagenav_prev,
.pagenav_next,
.pagenavbar {
padding: 0 2px;
}
a.pagenav,
.pagenav_prev a,
.pagenav_next a,
.pagenavbar a {
background:#EFEFEF;
border: 1px solid #dcdcdc;
color: #666666;
padding: 2px;
text-decoration: none;
}
a.pagenav:hover, a.pagenav:active,
.pagenav_prev a:hover, .pagenav_prev a:active,
.pagenav_next a:hover, .pagenav_next a:active,
.pagenavbar a:hover, .pagenavbar a:active {
background: #e5e5e5;
color: #ccc;
padding: 2px;
text-decoration: none;
}
.pagenavbar {
padding-left: 14px;
}
.pagenavcounter {
padding: 8px 14px 0 14px;
}
.button{
margin-top:10px;
}
.contentpane{
width:100%;
}

a:focus {

outline:0px;

}

/*default*/

.module {
background:url(../images/biotech/br.gif) 100% 100% no-repeat;
}
.module div{
background: url(../images/biotech/bl.gif) 0 100% no-repeat;
height:100% !Important;height:1%;
}
.module div div {
background: url(../images/biotech/tr.gif) 100% 0 no-repeat;
}
.module div div div {
background: url(../images/biotech/tl.gif) 0 0 no-repeat;
}

/*DEFAULT MODS*/

.moduletable{
margin-bottom:1em;
padding:0 10px;/*padding for inside text*/
overflow:hidden;
}
.moduletable h3 {
padding-left:5px;
font-size: 120%;
line-height: normal;
text-transform: capitalize;
width:95%;
overflow:hidden;
font: normal 18px  "Segoe UI", Arial, Helvetica, sans-serif;
/*border-bottom:1px solid #e6e4d7;*/
}
/*deafult  flatlist*/
#mainlevel  ul{
background: url(../images/biotech/strelica_green.gif) no-repeat left center;
margin: 0;
padding: 0;
}
#mainlevel{
padding:0;
color: #000;
text-align:left;
}
#mainlevel  ul{
list-style: none;
margin-left: 10px;
margin-right: 4px;
padding: 0;
}
#mainlevel  li{
margin: 0 -15px 0px;
padding-left:0px;
background:none;
}
#mainlevel li a{
height: 29px;
line-height: 29px;
text-decoration: none;
text-indent: 5px;
padding-left:10px;
display: block;
background: url(../images/biotech/strelica_green.gif) no-repeat left center;
color: #989898; font-family: Verdana, Arial, Helvetica,  sans-serif; font-size: 11px; text-decoration: none;
}
html>body #mainlevel li a { width:89%;color: #838383;
 }
#mainlevel li a:hover,
#mainlevel a#active_menu:link,#mainlevel a#active_menu:visited{color: #6F6852; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: underline; background-color: #f5f5f4;}
/* Default Vertical*/
a.mainlevel {
border-bottom: 1px solid #dcdcdc;
color: #627F08;
display: block;
height: 29px;
line-height: 29px;
text-decoration: none;
text-indent: 5px;
width: 100%;
}
a.mainlevel:hover,
a.mainlevel:active,
a.mainlevel:focus {
background:#e5e5e5;
color: #666666;
text-decoration: none;
}
a.mainlevel#active_menu {
background: #F9F6F6;
color: #666666;
font-weight: bold;
}
a.sublevel {
background: url(../images/biotech/strelica_green.gif) no-repeat 5px 7px;
color: #666666;
display: block;
padding: 0px 4px 0px 15px;
text-decoration: none;
}
a.sublevel:hover,
a.sublevel:active,
a.sublevel:focus {
color: #666;
text-decoration: underline;
}
#active_menu {
color: #666;
font-weight: bold;
}
/*suck*/
#suck{
width:100%;
margin:0 auto;
height:54px;
background: url(../images/biotech/ss_green.gif) repeat-x left top;
}
#sl{
width:100%;
height:54px;
background: url(../images/biotech/sl_green.gif) no-repeat left top;
}
#sr{
width:100%;
height:54px;
background: url(../images/biotech/sr_green.gif) no-repeat right top;

}
#navigacija
{
	height: 54px;
	width:auto;
	float:left;
	margin-left:10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
#navigacija a
{
	color: #fff;
	background: url(../images/biotech/activeal_green.gif) no-repeat 0 0;/*dodao*/
}

#navigacija  a:hover
{
	color: #9dca13;
}

#navigacija li li
{
	border-top: 1px solid #fff;/*light*/
	border-bottom: 1px solid #dcdcdc;/*dark*/
}

#navigacija li.active
{
	background: url(../images/biotech/activehr_green.gif) no-repeat 100% 0;/*prvi item*/
}
#navigacija li.active span {
background: url(../images/biotech/activeal_green.gif) no-repeat 0 0;/*prvi item*/
}
#navigacija li.active a {
color: #9dca13;/*aktivni pokazetelj*/
background: url(../images/biotech/activehl_green.gif) no-repeat 0 0;/*dodao*/

}
#navigacija li:hover span,
#navigacija li.sfHover span {
background: url(../images/biotech/activehr_green.gif) no-repeat 100% 0;
}
#navigacija li:hover a,
#navigacija li.sfHover a {
background: url(../images/biotech/activehl_green.gif) repeat-x 0 0;

}
#navigacija li:hover span.topdaddy,
#navigacija li.sfHover span.topdaddy {
background: url(../images/biotech/activehr_green.gif) no-repeat 100% 0;
}
#navigacija li:hover span.topdaddy a,
#navigacija li.sfHover span.topdaddy a {
background: url(../images/biotech/activehl_green.gif) no-repeat 0 0;
color: #fff;/*dodao*/
}
#navigacija li:hover ul,
#navigacija li.sfHover ul {
background: #F9F6F6;
}
#navigacija li li:hover,
#navigacija li li.sfHover {
background: #e5e5e5;
}
#navigacija li:hover li a.daddy,
#navigacija li.sfHover li a.daddy,
#navigacija li.active:hover li a.daddy,
#navigacija li.active.sfHover li a.daddy {
background: url(../images/biotech/strelica_green.gif) 100% 50% no-repeat;
}
/*drugi dio*/
.nav, .nav * {
margin:0;
padding:0;
}
div#navigacija {  
position: relative;
z-index: 50;
}
div#navigacija .wrapper {
position: relative;
}
#navigacija li li {
margin: 0;
}
div#navigacija li li span,
div#navigacija li.active li span,
div#navigacija li:hover li span
{
	background:none;
}
.nav {
	line-height:1.0;
	/*float:left;*/
	margin-bottom:1.5em;
	position: relative;
}
.nav ul {
background:#fff; 
padding: 0;
}
.nav li {
	/*float:left;*/
	list-style:none;
	position:relative;
	background:none;
}
.nav li li a {
display:block;
padding: 0;
text-decoration:none;
background-image: none;
float:none;
width:135px;
}
div#navigacija li li a {
height: 30px;
line-height: 30px;
}
div#sonja li:hover {background-position: 0 0;}
div#navigacija li:hover li,
div#navigacija li.sfHover li,
div#navigacija li.active:hover li,
div#navigacija li.active.sfHover li,
div#navigacija li:hover li span,
div#navigacija li.sfHover li span {
background-image: none;
}
div#navigacija li:hover li a,
div#navigacija li.sfHover li a,
div#navigacija li.active:hover li a,
div#navigacija li.active.sfHover li a {
background-image: none;
}
.nav li ul {
float:none;
left:-999em;
position:absolute;
width: 177px;
z-index: 5;
border: 1px solid #e4e3e3;
}
.nav li:hover ul,
.nav li.sfHover ul {
left:0px;
top: 46px;
}
.nav li:hover li ul,
.nav li.sfHover li ul,
.nav li li:hover li ul,
.nav li li.sfHover li ul,
.nav li li li:hover li ul,
.nav li li li.sfHover li ul {
top:-999em;
}
.nav li li:hover ul,
.nav li li.sfHover ul,
.nav li li li:hover ul,
.nav li li li.sfHover ul,
.nav li li li li:hover ul,
.nav li li li li.sfHover ul {
left: 177px;
top:0px;
width: 177px;
}
.nav li li {
position: relative;
float:none;
width: 177px;
}
/*treci dio*/
#navigacija ul {
list-style: none;
margin: 0;
padding: 0 0 0 0px;
}
#navigacija li {
display: block;
float: left;
margin: 0;
margin-right: 0px;
padding: 0;
background: url(../images/biotech/activear_green.gif) no-repeat 100% 0;/*dodao*/
}
#navigacija li {
display: block;
float: left;
background: url(../images/biotech/activear_green.gif) no-repeat 100% 0;/*dodao*/
}
#navigacija li:hover {
background: url(../images/biotech/activear_green.gif) no-repeat scroll 100% 0 transparent;
}

#navigacija a {
display: block;
float: left;
height: 46px;
line-height: 44px;
padding: 0 6px;
font-weight: normal;
/*font-size: 16px;*/
}

#navigacija li li a {
font-size: 12px;
padding: 0 15px;
color:#9dca13;
}
#navigacija a:hover {
text-decoration: none;
}
#navigacija li:hover,
#navigacija li.sfHover {

}
#mod_login_password, #mod_login_username {
width: 75%;
height:19px;
padding-left: 23px;
padding-top:3px;
color:#9dca13;
border:1px solid #cbc9c9;
}
#mod_login_password {
background: #f5f4f4 url(../images/biotech/password.gif) no-repeat left center;
}
#mod_login_username {
background: #f5f4f4 url(../images/biotech/username.gif) no-repeat left center;
}
#mod_login_remember {
border: none;
padding: 0!important;
}
/*******TYPOGRAPHY********/
.error {
padding: 5px 5px 5px 25px;
color: #CC0000;
background: #EFEBEB url(../images/biotech/typ/error.gif) no-repeat center left;
border:1px solid #ccc;
}
.message {
padding: 5px 5px 5px 25px;
color: #006699;
background:#EFEBEB  url(../images/biotech/typ/info.gif) no-repeat center left;
border:1px solid #ccc;
}
.tips {
padding: 5px 5px 5px 25px;
color: #FF5A00;
background:#EFEBEB  url(../images/biotech/typ/tips.gif) no-repeat center left;
border:1px solid #ccc;
}
.highlight {
border-bottom: 1px dashed #888888;
padding: 0 5px;
background: #FEFAE1;
font-weight: bold;
}
img.border {
border: 1px solid #e1e1e1;
padding: 5px;
margin: 2px 3px 0 0;
background: #fcfcfc;
}
pre, .code {
padding: 10px 15px;
margin: 5px 0 15px;
border-left: 5px solid #ccc;
background: #EFEBEB;
}
div.blockquote {
margin: 30px 0;
border: 1px solid #ccc;
padding: 5px 15px 5px 35px;
background-color: #f1f0f0;
background-image: url(../images/biotech/typ/qlg.gif);
background-repeat: no-repeat;
background-position: 0px 2px;
}
div.blockquote blockquote {
margin:0;
padding:0;
background: url(../images/biotech/typ/qrg.gif) no-repeat right bottom;
}
.dropcap {
float: left;
padding: 4px 8px 0 0;
display: block;
color: #ccc;
font-family: Georgia, Times, serif;
font-size: 50px;
line-height: 40px;
}
p.actions {
clear:both;
}
p.sticky {
color: #000;
padding: 20px 20px 10px 40px;
margin-top:10px;
margin-bottom:10px;
border-right:1px solid #ccc;
border-top:1px solid #ccc;
border-left:5px solid #ccc;
border-bottom:1px solid #ccc;
background-color: #EFEBEB;
background-image: url(../images/biotech/typ/sticky.jpg);
background-repeat: no-repeat;
background-position: left center;
}
p.pin {
color: #000;
padding: 20px 20px 10px 40px;
margin-top:10px;
margin-bottom:10px;
border-right:1px solid #ccc;
border-top:1px solid #ccc;
border-left:5px solid #ccc;
border-bottom:1px solid #ccc;
background-color: #EFEBEB;
background-image: url(../images/biotech/typ/pin.gif);
background-repeat: no-repeat;
background-position: left center;
}
p.clip {
color: #000;
margin-top:10px;
margin-bottom:10px;
padding: 20px 20px 10px 40px;
border-right:1px solid #ccc;
border-top:1px solid #ccc;
border-left:5px solid #ccc;
border-bottom:1px solid #ccc;
background-color: #EFEBEB;
background-image: url(../images/biotech/typ/clip.jpg);
background-repeat: no-repeat;
background-position: left center;
}
p.down {
color: #000;
padding: 20px 20px 10px 40px;
margin-top:10px;
margin-bottom:10px;
border-right:1px solid #ccc;
border-top:1px solid #ccc;
border-left:5px solid #ccc;
border-bottom:1px solid #ccc;
background-color: #EFEBEB;
background-image: url(../images/biotech/typ/down.jpg);
background-repeat: no-repeat;
background-position: left center;
}

.blocknumber {
clear: both;
position: relative;
padding-top: 5px;
padding-right: 15px;
padding-bottom: 10px;
padding-left: 15px;
}
.bignumber {
float: left;
margin-right: 15px;
margin-bottom: 5px;
padding: 5px 5px 5px 6px;
display: block;
color: #ccc;
font-weight: bold;
background-position: left top;
font-family: Arial, sans-serif;
font-size: 23px;
line-height: normal;
}
body ul.check,
body ul.check_blue,
body ul.star_blue,
body ul.star{
margin-left: 35px;
padding: 0;
}
ul.check li,
li.check,
ul.check_blue li,
li.check_blue,
ul.star_blue li,
li.star_blue,
ul.star li,
li.star{
padding-bottom: 10px;
padding-left: 20px;
list-style-image: none;
list-style-type: none;
}
body ul.star li,
body li.star  {
background: url(../images/biotech/typ/star.png)   no-repeat 0 3px;
}

body ul.check li,
body li.check {
background: url(../images/biotech/typ/check.png) no-repeat 0 5px;
}
body ul.check_blue li,
body li.check_blue {
background: url(../images/biotech/typ/check_b.png) no-repeat 0 5px;
}
body ul.star_blue li,
body li.star_blue {
background: url(../images/biotech/typ/star_b.png) no-repeat 0 3px;
}
body ul.box li,
body li.box {
background: url(../images/biotech/strelica_green.gif) no-repeat 0px 7px;
}
ul.box li,
li.box{
padding-left: 10px;
list-style-image: none;
list-style-type: none;
}
body li{
padding-left:20px;
background: url(../images/biotech/strelica_green.gif) no-repeat 0px 7px;
font-family: Verdana, Arial, Helvetica,  sans-serif; font-size: 11px; text-decoration: none;
}
body ul.box li{
padding-left:20px;
background: url(../images/biotech/strelica_green.gif) no-repeat 5px 12px;
}
ul.box li,
li.box{
list-style-image: none;
list-style-type: none;
}
body ul.box{
margin-left: 25px;
padding: 0;
}

.menuleft ul li {
	background: none;
	/*margin-left: -18px;*/
	border-bottom: 1px solid #ddd;
	padding: 6px 0 6px 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 12px;
}

.menuleft ul li:hover {
background: #ddd;
}

.menuleft ul li a {
padding: 0 0 0 6px;
}

.menuleft ul li a:hover {
text-decoration: none;
}


/* Галерея */


.gallery-item-wrapper
{
	text-align: right;
	float: left;
	margin-right: 50px;
}